@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .h-1k {
    height: 1000px;
  }
  .h-750 {
    height: 750px;
  }
  .shadow-custom {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.08);
  }
  .bottombar-shadow {
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1), 0px -1px 9px rgba(0, 0, 0, 0.06);
  }
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-[#54595f];
}
body {
  padding: 0 !important;
  margin: 0 !important;
}
.cartTable table tbody tr td{
  padding: 10px 0px !important;
}
.cartTable table thead tr th{
  color: #4f4f4f;
  font-family: sans-serif;
  padding: 15px 0px;
}
.viewOnlyTable{
  border: #ddd solid 1px;
  padding: 0px 10px;
}
.viewOnlyTable thead tr{
  border-bottom: #ddd solid 1px;
}
.viewOnlyTable tbody tr{
  border-bottom: #ddd solid 1px;
}
.viewOnlyTable tbody tr td,.viewOnlyTable thead tr th{
padding: 1em 0em;
color: #4f4f4f;
font-family: sans-serif;
}
.viewOnlyTable tbody tr:last-child{
  border-bottom: #ddd solid 0px;
}