@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: calc(100vh);
  overflow-y: hidden;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
.mainLogo {
  border-radius: 50%;
}
.header-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu-items li {
  min-width: 24%;
  text-transform: capitalize;
}
.header-menu-items li a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
.header-menu-items li:hover {
  cursor: pointer;
  font-weight: 600;
}
.card-wrapper {
  margin: 25px auto;
}
.title-tx {
  display: block;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardMediaImage {
  height: 200px;
  object-fit: contain !important;
}
.page-wrapper {
  height: calc(100vh - 4rem);
  overflow-y: auto;
}
.page-wrapper::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.page-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.page-wrapper::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
.page-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.viewBtn {
  color: #9ef900 !important;
}
.viewBtn:hover {
  background-color: #f9fdf1 !important;
}
.menu-list-container-sm {
  display: none;
}
.menu-pop-up-container {
  display: none;
}
.menu-sm-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  /* background-color: #555; */
  font-size: 30px;
}
.menu-sm-btn:hover {
  color: #9ef900;
  background-color: #f9fdf1;
}
.menu-pop-up-container div:nth-child(3) {
  width: 150px;
  position: relative;
  left: calc((100vw - 150px) / 2) !important;
}
.menu-pop-up-container div:nth-child(3) ul li {
  display: block !important;
}
::selection {
  background: #54595f;
}
.astra-mobile-cart-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.astra-mobile-cart-overlay.active {
  opacity: 1;
  cursor: pointer;
  visibility: visible;
  z-index: 999;
}
.astra-cart-drawer {
  position: fixed;
  display: block;
  visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000000;
  background-color: var(--ast-global-color-5);
  transform: translate3d(0, 0, 0);
  opacity: 0;
  will-change: transform;
  transition: 0.25s ease;
  height: 100%;
  left: 100%;
  top: 0px;
}
.astra-cart-drawer.active {
  opacity: 1;
  background-color: #fefefe;
  border: 1px solid #dddddd;
  width: 35%;
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
}
.astra-cart-drawer-title {
  position: absolute;
  width: 100%;
  text-align: left;
  text-transform: inherit;
  font-weight: 500;
  border-bottom: 1px solid #dddddd;
  padding: 1.34em;
  line-height: 1;
  z-index: 1;
  max-height: 3.5em;
}
.cart-cross-button {
  position: absolute;
  z-index: 100000;
  top: 0.3em;
  right: 0;
  border: none;
  margin: 0;
  padding: 0.6em 1em 0.4em;
  color: #000;
  background-color: transparent;
}
